body {
  font-family: Arial, sans-serif;

  position: relative;
}
#Main {
  height: 689px;

  background-color: #02214f;
  border-radius: 0px;
}
.uper1 {
  display: flex;
}
.Trust1 {
  margin-left: 900px;
  margin-top: 100px;
}
h1 {
  font-size: 3rem;
}
#img {
  margin-right: -50px;
  display: flex;
}
.img {
  margin-left: -215px;
}
.container {
  height: 689px;
  width: 1703px;
  background-color: #02214f;
  color: #9ca3ac;
}
.box {
  padding: 0;
}
.box11,
.box12,
.box13,
.box14 {
  height: 166px;
  width: 238px;
  border-radius: 31px;
  background-color: #2a80cf;
  margin: 10px;
  margin-top: 81px;
}
.box1 {
  display: flex;
  scroll-margin-inline: 10px;
}

.btn-1 {
  margin-top: -100px;
}
#btn {
  width: 224px;
  height: 51px;
  position: relative;
  margin-top: 200px;
  border: none;
  border-radius: 10px;
  background-image: linear-gradient(to right, #2a80cf, #02214f);
}
.fw-bold {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.bg-warning,
.bg-info,
.bg-secondary,
.bg-success {
  height: 100px;
}

#logo-word {
  margin-top: 50px;
  color: aliceblue;
  font-size: 70px;
  font-family: Poppins;
  font-size: 70px;
}

#img-1 {
  margin-left: -53px;
  z-index: 0;
}

#img-2 {
  margin-left: -40px;
  z-index: 1;
}

#img-3 {
  margin-left: -40px;
  z-index: 2;
}
#row2 {
  margin: 0px -75px 0px 0px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.logo-img {
  position: relative;
  margin-top: 200px;
  display: inline;
}
.boxx {
  height: 150px;
}
.me-2 {
  margin-left: 0rem;
  position: relative;
}
.outer-last {
  position: relative;
}
.last {
  position: absolute;
  left: 934px;
  height: 125px;
  font-size: x-large;
  width: 441px;
  margin-top: 12px;
  text-align: center;
  font-family: poppins;
}
.last-img {
  position: absolute;
  margin-top: -498px;
  margin-left: 266px;
}
.last-img1 {
  height: 700px;
}
